<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags requeridos -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Recuperar Contraseña</title>
  </head>
  <body class="text-center">
    <div class="container d-flex vh-100 align-items-center">
        <div class="row w-100 justify-content-center">
            <form class="form-signin" method="POST">
              <img src="{{ url_for('static', filename='icon/img_recovery.png') }}" alt="Logo" class="mb-3 login-logo">
              <h1 class="h3 mb-3 font-weight-normal">Recuperar Contraseña</h1>

              <!-- Mostrar mensaje de error si existe -->
              {% if error %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
              {% endif %}

              <label for="username" class="sr-only">Nombre de usuario</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>
              <label for="securityQuestion" class="sr-only">Pregunta de Seguridad</label>
              <select class="custom-select mb-3" id="securityQuestion" name="securityQuestion" required>
                <option value="">Selecciona una pregunta de seguridad</option>
                <option value="1">¿Cuál es tu libro favorito?</option>
                <option value="2">¿Cuál es el nombre de tu primera mascota?</option>
                <option value="3">¿Cuál es el nombre de tu primera escuela?</option>
                <option value="4">¿Cuál es tu carro favorito?</option>
                <option value="5">¿Cuál es el tu whyskey favorito?</option>
                <!-- etc -->
              </select>

              <label for="answer" class="sr-only">Respuesta</label>
              <input type="text" id="answer" name="answer" class="form-control" placeholder="Respuesta" required>
              
              <button class="btn btn-lg btn-primary btn-block" type="submit">Recuperar</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
