<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags requeridos -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Cambiar contraseña</title>
  </head>
  <body class="text-center">
    <div class="container d-flex vh-100 align-items-center">
        <div class="row w-100 justify-content-center">
            <form class="form-signin" method="POST">
              <img src="{{ url_for('static', filename='icon/img_login.png') }}" alt="Logo" class="mb-3" style="width: 50%; height: auto;">
              <h1 class="h3 mb-3 font-weight-normal">Por favor introduce tu nueva contraseña</h1>
              <label for="newPassword" class="sr-only">Nueva Contraseña</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Nueva Contraseña" required>
              <label for="confirmPassword" class="sr-only">Confirma tu Contraseña</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirma tu Contraseña" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar contraseña</button>
              <input type="hidden" name="username" value="{{ username }}">
            </form>
        </div>
            {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
            {% endif %}
    </div>

    <!-- Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
